.mm_header {
  width: 100%;
  height: 50px;
  background-color: #fd831d;
  position: relative;
}
.mm_header .mm_logo {
  width: 671px;
  height: 30px;
  display: block;
  background-image: url("../../images/header_logo.png");
  background-repeat: no-repeat;
  background-size: 230px 31px;
  position: absolute;
  top: 11px;
  left: 20px;
}
.mm_header .mm_app {
  width: 38px;
  height: 42px;
  display: block;
  background-image: url("../../images/header_app.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  position: absolute;
  top: 5px;
  right: 15px;
}
