.xq-layout{
  width: 100%;
  a:hover {
    text-decoration: none;
  }
  .back{
    width: 100%;
    height: 38px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f4f4f4;
    color: #000;
    line-height: 38px;
    padding-left: 10px;
    font-size: 14px;
  }
  .product{
    width: 100%;
    >.product-c{
      width: 100%;
      height: 180px;
      position: relative;
      >img{
        display: block;
        margin: 30px auto;
      }
      >a{
        position: absolute;
        width: 39px;
        height: 39px;
        top: 0;
        right: 0;
        background: url("../../images/product/brand_sc.jpg") no-repeat;
        background-size: cover;
      }
    }
    >p{
      color: #000;
      font-size: 16px;
      padding-left: 10px;
    }
    >div{
      padding-left: 10px;
      li{
        float: left;
        width: 50%;
        height: 25px;
        line-height: 25px;
        color: #575757;
        font-size: 14px;
        >span{
          padding-left: 5px;
        }
        >em{
          font-style: normal;
          i{
            font-style: normal;
              color: #fe0000;
          }
        }
      }
    }
  }
  >.contrast{
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    >ul{
      width: 100%;
      height: 35px;
      padding-top: 15px;
      >.active{
        background-color: #ff960d;
      }
      >li{
        float: left;
        width: 33.33%;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background-color: #ffc525;
        border: 1px solid #c14d00;
        border-right: none;
        >a{
          color: #fff;
          font-size: 16px;
        }
      }
    }
  }
  >.dz-href{
    >a{
      display: inline-block;
      width: 100%;
      height: 50px;
      line-height: 50px;
      //background-color: red;
      //border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding-left: 35px;
      >span{
        display: block;
        float: left;
        font-size: 16px;
      }
      >span:first-of-type{
        width: 20px;
        height: 20px;
        background:url("../../images/product/1.png") no-repeat;
        margin-top: 17px;
      }
      >span:nth-of-type(2){
        margin-left: 30px;
      }
      >span:nth-of-type(3){
        display: inline-block;
        float: right;
        width: 60px;
        height: 30px;
        background-color: #ff5500;
        line-height: 30px;
        color: #fff;
        border-radius: 12.5px;
        margin-top: 10px;
        text-align: center;

      }
      >span:nth-of-type(4){
        float: right;
        margin-right: 30px;
        color: #d10311;
      }
    }
    a:nth-of-type(2){
      span:first-of-type{
        background: url("../../images/product/8.png");
      }
    }
    a:nth-of-type(3){
      span:first-of-type{
        background: url("../../images/product/278.png") no-repeat;
      }
    }
    a:nth-of-type(4){
      span:first-of-type{
        background: url("../../images/product/6.png") no-repeat;
      }
    }
    a:nth-of-type(5){
      span:first-of-type{
        background: url("../../images/product/161.png") no-repeat;
      }
    }
    a:nth-of-type(6){
      span:first-of-type{
        background: url("../../images/product/13.png") no-repeat;
      }
    }
    >p{
      color: #888;
      height: 40px;
      line-height: 40px;
      border-bottom: 4px solid #7a7a7a;
      padding-left: 10px;
      overflow: hidden;
    }
  }
  >.pj{
    >.pj-t{
      width: 100%;
      height: 35px;
      line-height: 35px;
      font-size: 14px;
      color: #000;
      background-color: #dbdbdb;
      text-align: center;
    }
    .pj-b{
      width: 100%;
      margin-top: 15px;
      color: #000;
      >span{
        float: left;
        display: block;
        width: 50%;
        //color: #666;
        padding-left: 15px;
        padding-bottom: 10px;
      }
      >span:nth-child(even){
        text-align: right;
        padding-right: 15px;
      }
      >p{
        color: #666;
        font-size: 14px;
        padding: 0 15px 10px 15px;
      }
      >a{
        padding-left: 15px;
      }
    }
    >.more{
      margin-top: 10px;
      width: 100%;
      height: 40px;
      background-color: #dfdfdf;
      text-align: center;
      line-height: 40px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 10px;
      border: 1px solid #ccc;
    }
  }

}